
body{
    background-color: #001f36;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    display: inline-flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden
}



nav{
    position: absolute;
    bottom: 2%;
    width: 40em;
    height: 10%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 30px 30px 30px 30px;
    background-color: #1c5560;
}

nav span{
    margin: 0;
    padding: 0;
    font-size: 25px;
    letter-spacing: 7px;
    color: #fbffcd;
}

nav a{
    margin: 20px;
    color: #fbffcd;
    text-shadow: 10px black;
    padding: 10px;
    text-decoration: none;
}

nav a:hover{
    animation: pulses 1s infinite ;
}

nav span:hover{
    animation: pulses 1s infinite;
}


@keyframes pulses {
    from{text-shadow: 0px 0px 1px rgb(245, 245, 245);}
    to{text-shadow: 0px 0px 60px rgb(255, 255, 255);}
}

#box{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 4%;
    height: 80%;
    width: 80%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
   overflow: hidden
}


.techsss{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.principal-tech{
    height: 100%;
    width: 60%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tech-img{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

@keyframes apear {
    from{opacity: 0.2;}

    to{opacity: 1;}

}

.tech-img img{
    width: 22em;
    height: 22em;
    
}

.tech-info{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30em;
    height: 40%;
    color: #fbffcd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.text-title{
    text-align: center;
}

.all-techs{
    width: 35%;
    height: 90%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.all-techs img{
    width: 50px;
    height: 50px;
    padding: 2px;
    margin-left: 7px;
    margin-right: 7px;
    /* filter: drop-shadow(2px 2px 10px #4444dd); */
}


.all-techs div{
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 30px 30px 30px 30px;
    background-color: #1c5560;
}


.FrontEndTechs{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0.5em;
    width: 24em;
    height: 6em;
}
.BackEndTechs{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 30px;
    margin: 0.5em;
    width: 24em;
    height: 6em;
}
.DesignTechs{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0.5em;
    width: 24em;
    height: 6em;
}

.VariablesTechs{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0.5em;
    width: 24em;
    height: 6em;
}




.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    } 

.about-info{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30em;
    height: 90%;
    color: #fbffcd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-variant: small-caps; */
    text-align: justify;
    font-size: 20px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.97);
    padding: 15px;
    text-shadow: rgb(41, 41, 41) 18px 1px 15px;
    border-radius: 30px 30px 30px 30px;
    background-color: #1c5560;
}

.leftarrow{
    width: 5%;
    height: 15%;
    margin-left: 50px;
    border-radius: 30px 0px 30px 0px;
    padding: 0;
}


.rightarrow{
    margin-left: 20px;
    width: 5%;
    height: 15%;
    border-radius: 30px 30px 30px 30px;
    padding: 0;
}



@keyframes pulsesbox {
    from{box-shadow: 0px 0px 1px rgb(245, 245, 245);}
    to{box-shadow: 0px 0px 60px rgb(255, 255, 255);}
}
.principal-about{
    height: 100%;
    width: 95%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.polaroid {
    height: 70%;
    width: 20em;
    background-color: #e9e9e9;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-flex;
    justify-content: center;
}
.polaroid img{
    height: 80%;
    width: 90%;
   margin-top: 3%;
   filter: brightness();
}
.fadeOutLeft {
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeOutLeft {
    0% {
    opacity: 1;
    }
    100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-30%, 0, 0);
    }
    }
    @keyframes fadeOutLeft {
    0% {
    opacity: 1;
    }
    100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-30%, 0, 0);
    }
    }
.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInLeft {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-30%, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInLeft {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-30%, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 

    .fadeInRight {
        -webkit-animation-name: fadeInRight;
        animation-name: fadeInRight;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes fadeInRight {
        0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(30%, 0, 0);
        }
        100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        }
        }
        @keyframes fadeInRight {
        0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(30%, 0, 0);
        }
        100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        }
        } 

.fadeOutRight {
    -webkit-animation-name: fadeOutRight;
    animation-name: fadeOutRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
            }
    @-webkit-keyframes fadeOutRight {
    0% {
    opacity: 1;
    }
    100% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(30%, 0, 0);
    }
    }
    @keyframes fadeOutRight {
    0% {
    opacity: 1;
    }
    100% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(30%, 0, 0);
    }
    }

              

.apear{
    background-color: #fffffe83;
    border-radius: 40px 40px 50px 50px;
    animation: pulseBox 1s infinite;
    margin-left: 5px;
}

@keyframes pulseBox{
    from{box-shadow: 0px 0px 1px rgb(245, 245, 245);
    }

    to{box-shadow: 0px 0px 60px rgb(255, 255, 255);
    }
}


.Home{
    display: inline-flex;
    justify-content: center;
    width: 60em;
}
.Welcome {
    color: #fbffcd;
    margin-right: 30px;
    padding: 0;
    /* text-shadow: 71px 8px 50px rgba(150, 150, 150, 0.77); */
}

.Divisor{
    width: 1px;
    height: 10.2em;
    background-color: #fbffcd;
    margin-right: 30px;
    margin-top: 30px;
}
.WelcomeP{
    animation: hover 2s forwards;
}

.WelcomeText{
    font-size: 1.2em;
    margin-top: 10px;
    color: #fbffcd;
    animation: hover 2s forwards;
    width: 10.2em;
    line-height: 1.7em;
}
.ProyectsText{
    font-size: 1.5em;
    color: #fbffcd;
    animation: hover 2s forwards;
    width: 30.2em;
    line-height: 1.5em;
    text-align: center;
}


.WelcomeH1{
    animation: hover 2s forwards;
}

@keyframes hover {
    from{text-shadow: 71px 8px 50px rgba(150, 150, 150, 0.77);}

    to{text-shadow: -0px 0px 0px rgba(150, 150, 150, 0.86);}
}

.Welcome h1{
    font-size: 12em;
    margin: 0;
    padding: 0;
    line-height: 0.95;
}

.Welcome p{
    line-height: 0;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.displayNone{
    display: none;
}

.principal-Contact{
    
        height: 100%;
        width: 60%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    
}

#form {
  width: 400px;
 
}

input {
  /* font-family: 'Lato', sans-serif; */
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;

  background: transparent;
  outline: none;
  color: #726659;

  border: solid 1px #b3aca7;
  border-bottom: none;

}

input:hover {
    background: #070606;
    color: #ebd7c9;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;

  background: transparent;
  outline: none;

  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;

  border: solid 1px #b3aca7;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #070606;
  color: #ebd7c9;
}

#submit {
  width: 502px;

  padding: 0;
  margin: -5px 0px 0px 0px;

  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;

  outline:none;
  cursor: pointer;

  border: solid 1px #b3aca7;
  border-top: none;
}

#submit:hover {
    background: #070606;
    color: #ebd7c9;
}


.Contact {
width: 100px;
height: 100px;
margin: 10px;
padding: 2px;
}
.RedLinks{
    width: 40%;
    display: inline-flex;
    flex-direction: column;
}

.BotonIngles{
    position:absolute;
    right: 2%;
    top: 1%;
    width: 150px;
    height: 70px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;
    justify-content: space-between;
    
}


.switch{
     border-radius: 30px 30px 30px 30px; 
    width: 50px;
    height: 25px;
    display: inline-flex;
    align-items: center;
    
}

.arg{
    background-color: #1c5560;
    justify-content: flex-start;
}
.ing{
    background-color: #fbffcd;
    justify-content: flex-end;
}
.Argentina{
  width: 40px;
  height: 25px;
}
.Ingles{
    width: 40px;
    height: 25px;
  }

.left-right{
  width: 30px;
  height: 30px;
  background-color: #fbffcd;
  border-radius: 90%;
}
@media screen and (max-width: 1400px) {
    .FrontEndTechs{
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        overflow-y: hidden;
        width: 100%;
        height: 20%;
    }
    .BackEndTechs{
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        overflow-y: hidden;
        width: 100%;
        height: 20%;
    }
    .DesignTechs{
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 20%;
        overflow-y: hidden;
    }
    
    .VariablesTechs{
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        overflow-y: hidden;
        width: 100%;
        height: 20%;
    }
 
}

@media screen and (max-width: 800px) {
    
body{
    background-color: #001f36;
    background-image: none;
    background-attachment: none;
    background-size: none;
    }
    
    main{
        display: inline-flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    
    
    
    nav{
        position: fixed;
        bottom: 3%;
        width: 100%;
        background-color: #001f36;
        height: 8%;
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    nav span{
        display: none;
        margin: 0;
        padding: 0;
        font-size: 25px;
        letter-spacing: 7px;
        color: #fbffcd;
    }
    
    nav a{
        margin: 20px;
        color: #fbffcd;
        text-shadow: 10px black;
        padding: 0px;
        font-size: 40px;
    }
    
    nav a:hover{
        animation: pulse 1s infinite ;
    }
    
    nav span:hover{
        animation: pulse 1s infinite;
    }
    
    
    @keyframes pulse {
        from{text-shadow: 0px 0px 1px rgb(245, 245, 245);}
        to{text-shadow: 0px 0px 60px rgb(255, 255, 255);}
    }
    
    #box{
        margin: 0;
        padding: 0;
        position: fixed;
        top: 4%;
        bottom: 7%;
        height: 85%;
        width: 90%;
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
       align-items: center;
    }
    
    
    .techsss{
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
       align-items: center;
       width: 100%;
       height: 100%;
    }
    
    .principal-tech{
        height: 70%;
        width: 70%;
        display: none;
        justify-content: center;
        align-items: center;
    }
    .tech-img{
        display: none;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 100%;
        margin-right: 70px;
    }
    
    @keyframes apear {
        from{opacity: 0.2;}
        to{opacity: 1;}
    }
    
    .tech-img img{
        width: 100px;
        height: 100px;
        margin: 40px;
    }
    
    .tech-info{
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 100%;
        color: #fbffcd;
        margin-left: 10px;
        font-style: italic;
        font-weight:lighter;
    }
    
    .all-techs{
        width: 100%;
        height: 100%;
        display: inline-flex;
        flex-direction: column;
        flex-wrap: wrap;
        overflow-y: hidden;
        justify-content: center;
        align-items: center;
    }
    
    
    .all-techs img{
        width: 4em;
        height: 4em;
        
        
        /* filter: drop-shadow(2px 2px 10px #4444dd); */
    }
    
    
    .all-techs div{
        margin-left: 0px;
        margin-right: 0px;
    }
    .FrontEndTechs{
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        overflow-y: hidden;
        width: 100%;
        height: 20%;
    }
    .BackEndTechs{
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        overflow-y: hidden;
        width: 100%;
        height: 20%;
    }
    .DesignTechs{
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 20%;
        overflow-y: hidden;
    }
    
    .VariablesTechs{
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        overflow-y: hidden;
        width: 100%;
        height: 20%;
    }
    
    
    .polaroid {
        height: 16em;
        width: 12em;
        background-color: #e9e9e9;
        box-sizing: border-box;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: inline-flex;
        justify-content: center;
        margin: 10px;
    }
    .about-info{
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 27em;
        height: 25em;
        color: #fbffcd;
       margin: 0%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* font-variant: small-caps; */
        text-align:center;
        font-size: 0.8em;
        line-height: 12px;
        color: rgba(255, 255, 255, 0.97);
        text-shadow: rgb(41, 41, 41) 18px 1px 15px;
    }
    .principal-about{
        height: 40em;
        width: 25em;
        
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .polaroid img{
        height: 75%;
        width: 90%;
       margin-top: 3%;
       filter: brightness();
    }
    
    .apear{
    
        background-color: #fffffe83;
        border-radius: 40px 40px 50px 50px;
        animation: pulseBox 1s infinite;
        margin-left: 5px;
    }
    
    @keyframes pulseBox{
        from{box-shadow: 0px 0px 1px rgb(245, 245, 245);
        }
    
        to{box-shadow: 0px 0px 60px rgb(255, 255, 255);
        }
    }
.Home{
    display: inline-flex;

}    
    .Welcome {
        color: #fbffcd;
        margin: 0;
        padding: 0;
        text-shadow: 71px 8px 50px rgba(150, 150, 150, 0.77);
    }
    
    
    .WelcomeP{
        animation: hover 2s forwards;
    }
    
    .WelcomeH1{
        animation: hover 2s forwards;
    }
    
    @keyframes hover {
        from{text-shadow: 71px 8px 50px rgba(150, 150, 150, 0.77);}
    
        to{text-shadow: -1px 0px 6px rgba(150, 150, 150, 0.86);}
    }
    
    .Welcome h1{
        font-size: 150px;
        margin: 0;
        padding: 0;
        line-height: 0.95;
    }
    .WelcomeText{
        margin-top: 40px;
        font-size: 1.2em;
        color: #fbffcd;
        animation: hover 2s forwards;
        width: 10em;
    }
    
    .Welcome p{
        line-height: 0;
        font-size: 20px;
        margin: 0;
        padding: 0;
    }
    
    .displayNone{
        display: none;
    }
    
    .principal-Contact{
        height: 15em;
        width: 20em;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    
    
    
    #form {
      width: 20em;
      height: 40%;
     
    }
    
    input {
      /* font-family: 'Lato', sans-serif; */
      font-size: 0.875em;
      width: 27em;
       
      height: 50px; 
      
      padding: 0px 15px 0px 15px;
    
      background: transparent;
      outline: none;
      color: #726659;
    
      border: solid 1px #b3aca7;
      border-bottom: none;
    
    }
    
    input:hover {
      background: #000000;
      color: #000000;
    }
    
    textarea {
        width: 27em;
      
      height: 110px;
      max-height: 110px;
      
    
      background: transparent;
      outline: none;
    
      color: #726659;
      font-family: 'Lato', sans-serif;
      font-size: 0.875em;
    
      border: solid 1px #b3aca7;
    
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
    }
    
    textarea:hover {
      background: #070606;
      color: #0e0a07;
    }
    
    #submit {
        width: 29.287em;
        
      padding: 0;
      
      /* margin: -5px 0px 0px 0px; */
    
      font-family: 'Lato', sans-serif;
      font-size: 0.875em;
      color: #b3aca7;
    
      outline:none;
      cursor: pointer;
    
      border: solid 1px #b3aca7;
      border-top: none;
    }
    
    #submit:hover {
      color: #e2dedb;
    }
    
    
    .Contact img{
    
    height: 70px;
    padding: 5px;
    }
    .RedLinks{
        width: 27em;
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
    }
    
    
    .BotonIngles{
        position: fixed;

    top: 3;
    left: 0;
    right: 0;
    margin: auto;
        width: 100px;
        height: 50px;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        justify-content: flex-start;
        justify-content: space-between;
        
    }
    
    
    .switch{
         border-radius: 30px 30px 30px 30px; 
        width: 20px;
        height: 10px;
        display: inline-flex;
        align-items: center;
    }
    
    .arg{
        background-color: #1c5560;
        justify-content: flex-start;
    }
    .ing{
        background-color: #fbffcd;
        justify-content: flex-end;
    }
    .Argentina{
      width: 2.5em;
      height: 25px;
      margin-right: 10px;
    }
    .Ingles{
        width: 2.5em;
        height: 60px;
        margin-left: 10px;
    }
    
    .left-right{
      width: 60px;
      height: 20px;
      background-color: #fbffcd;
      border-radius: 90%;
    }
    .leftarrow{
        width: 5%;
        height: 15%;
        margin-left: 50px;
        display: none;
    }
    
    .leftarrow:hover{
        animation: pulses 1s infinite ;
        background-color: #070606;
    }
    .rightarrow{
        width: 5%;
        height: 15%;
        display: none;
    }
}

@media screen and (max-width: 450px) {

body{
background-color: #001f36;

}

main{
    display: inline-flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}



nav{
    position: fixed;
    bottom: 3%;
    width: 100%;
    background-color: #001f36;
    height: 8%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav span{
    display: none;
    margin: 0;
    padding: 0;
    font-size: 25px;
    letter-spacing: 7px;
    color: #fbffcd;
}

nav a{
    margin: 20px;
    color: #fbffcd;
    text-shadow: 10px black;
    padding: 0px;
    font-size: 40px;
}

nav a:hover{
    animation: pulse 1s infinite ;
}

nav span:hover{
    animation: pulse 1s infinite;
}


@keyframes pulse {
    from{text-shadow: 0px 0px 1px rgb(245, 245, 245);}
    to{text-shadow: 0px 0px 60px rgb(255, 255, 255);}
}

#box{
    margin: 0;
    padding: 0;
    position: fixed;
    top: 4%;
    bottom: 7%;
    height: 85%;
    width: 90%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
   align-items: center;
}


.techsss{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
}

.principal-tech{
    height: 70%;
    width: 70%;
    display: none;
    justify-content: center;
    align-items: center;
}
.tech-img{
    display: none;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    margin-right: 70px;
}

@keyframes apear {
    from{opacity: 0.2;}
    to{opacity: 1;}
}

.tech-img img{
    width: 100px;
    height: 100px;
    margin: 40px;
}

.tech-info{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    color: #fbffcd;
    margin-left: 10px;
    font-style: italic;
    font-weight:lighter;
}

.all-techs{
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-y: hidden;
    justify-content: center;
    align-items: center;
}


.all-techs img{
    width: 3em;
    height: 3em;
    
    
    /* filter: drop-shadow(2px 2px 10px #4444dd); */
}


.all-techs div{
    margin-left: 0px;
    margin-right: 0px;
}
.FrontEndTechs{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: hidden;
    width: 100%;
    height: 20%;
}
.BackEndTechs{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: hidden;
    width: 100%;
    height: 20%;
}
.DesignTechs{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 20%;
    overflow-y: hidden;
}

.VariablesTechs{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: hidden;
    width: 100%;
    height: 20%;
}
.principal-about{
    height: 40em;
    width: 25em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
}
.about-info{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 26em;
    height: 32em;
    color: #fbffcd;
   margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-variant: small-caps; */
    text-align:center;
    font-size: 0.8em;
    line-height: 13px;
    color: rgba(255, 255, 255, 0.97);
    text-shadow: rgb(41, 41, 41) 18px 1px 15px;
}

.polaroid {
    height: 19em;
    width: 15em;
    background-color: #e9e9e9;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-flex;
    justify-content: center;
    margin: 10px;
}
.polaroid img{
    height: 15.5em;
    width: 14em;
   margin-top: 3%;
   filter: brightness();
}

.apear{

    background-color: #fffffe83;
    border-radius: 40px 40px 50px 50px;
    animation: pulseBox 1s infinite;
    margin-left: 5px;
}

@keyframes pulseBox{
    from{box-shadow: 0px 0px 1px rgb(245, 245, 245);
    }

    to{box-shadow: 0px 0px 60px rgb(255, 255, 255);
    }
}
.Home{
    display: inline-flex;
    
}
.Welcome {
    color: #fbffcd;
    margin: 0;
    padding: 0;
    text-shadow: 71px 8px 50px rgba(150, 150, 150, 0.77);
}


.WelcomeP{
    animation: hover 2s forwards;
}

.WelcomeH1{
    animation: hover 2s forwards;
}

@keyframes hover {
    from{text-shadow: 71px 8px 50px rgba(150, 150, 150, 0.77);}

    to{text-shadow: -1px 0px 6px rgba(150, 150, 150, 0.86);}
}

.Welcome h1{
    font-size: 150px;
    margin: 0;
    padding: 0;
    line-height: 0.95;
}

.Welcome p{
    line-height: 0;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
.WelcomeText{
    font-size: 1.2em;
    color: #fbffcd;
    animation: hover 2s forwards;
    width: 10em;
}

.displayNone{
    display: none;
}

.principal-Contact{
    height: 35em;
    width: 22em;
    display: inline-flex;
    flex-direction: column;
    
}



#form {
  width: 50%;
  height: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  /* font-family: 'Lato', sans-serif; */
  
  display: block;
  width: 20em;
  margin: 0rem auto;
  
  

  background: transparent;
  outline: none;
  color: #726659;

  border: solid 1px #b3aca7;
  border-bottom: none;

}

input:hover {
  background: #000000;
  color: #000000;
}

textarea {
    width: 20em;
    margin: 0rem 5em;
  max-height: 110px;
  

  background: transparent;
  outline: none;

  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;

  border: solid 1px #b3aca7;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #070606;
  color: #0e0a07;
}

#submit {
    width: 22.287em;
    margin: -0.3rem 5em;
    
  padding: 0;
  
  /* margin: -5px 0px 0px 0px; */

  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;

  outline:none;
  cursor: pointer;

  border: solid 1px #b3aca7;
  border-top: none;
}

#submit:hover {
  color: #e2dedb;
}

.Contact{
    width: 4.5em;
}
.Contact img{

height: 70px;

}
.RedLinks{
    margin-top: 10px;
    width: 23em;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}


.BotonIngles{
    position:absolute;
    position: absolute;
top: 2;
left: 6;
right: 0;
margin: auto;
    width: 100px;
    height: 50px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;
    justify-content: space-between;
    
}


.switch{
     border-radius: 30px 30px 30px 30px; 
    width: 50px;
    height: 25px;
    display: inline-flex;
    align-items: center;
}

.arg{
    background-color: #1c5560;
    justify-content: flex-start;
}
.ing{
    background-color: #fbffcd;
    justify-content: flex-end;
}
.Argentina{
  width: 2.5em;
  height: 25px;
  margin-right: 10px;
}
.Ingles{
    width: 2.5em;
    height: 60px;
    margin-left: 10px;
}

.left-right{
  width: 30px;
  height: 30px;
  background-color: #fbffcd;
  border-radius: 90%;
}
.leftarrow{
    width: 5%;
    height: 15%;
    margin-left: 50px;
    display: none;
}

.leftarrow:hover{
    animation: pulses 1s infinite ;
    background-color: #070606;
}
.rightarrow{
    width: 5%;
    height: 15%;
    display: none;
}

}

